/* Empty. Add your own CSS if you like */

/* @media (min-width: 768px) { */
	.declare .form-group {
		margin: 3px 0;
	}
	.declare .form-control{
		width: 60% ;
	}
	.declare .textarea{
		width: 76%;
	}
	.declare .input-group{
		width: 60%;
	}
	.declare .form-group:nth-child(1) label{
		margin-right: 14px;
	}
	.declare .form-group:nth-child(5) label{
		margin-right: 27px;
	}
	.declare .form-group:nth-child(4n+6) label{
		margin-right: 27px;
	}
	.declare .form-group:nth-child(18) label{
		margin-right: 27px;
	}
	.declare .form-group:nth-child(19) label{
		margin-right: 14px;
	}
/* } */
