/* Empty. Add your own CSS if you like */
	html,body{
		margin: 0;
		padding: 0;
	}
	/* login */
	.login{
		background-position: center;
		background-size: auto;
		background-position: center;
		background-color: rgba(0, 0, 0, 0.35);
		height: 768px;
	}
	.sign-in-wrapper .login-brand{
		color: #ddd;
		font-weight: bold;
	}
	.login button{
		width: 100%;
	}
	/* /login */
/* @media (min-width: 768px) { */
	.declare .form-group {
		margin: 3px 0;
	}
	.declare .form-control{
		width: 130px ;
	}
	.declare .textarea{
		width: 373px;
	}
	.declare .input-group{
		width: 130px;
	}
	.declare .form-group:nth-child(1) label{
		margin-right: 14px;
	}
	.declare .form-group:nth-child(5) label{
		margin-right: 27px;
	}
	.declare .form-group:nth-child(4n+6) label{
		margin-right: 27px;
	}
	.declare .form-group:nth-child(18) label{
		margin-right: 27px;
	}
	.declare .form-group:nth-child(19) label{
		margin-right: 14px;
	}
/* } */
