<div class="overflow-hidden light-background login" id="bgsetEl" ng-style="{'background-image':bgiSet}">
    <div class="wrapper no-navigation preload">
        <div class="sign-in-wrapper">
            <div class="sign-in-inner">
                <div class="login-brand text-center">
                    <i class="fa fa-database m-right-xs"></i> 党风廉政监督系统 <strong class="text-skin">登录</strong>
                </div>
                <form novalidate="novalidate" role="form" name="myForm">
                    <div class="form-group m-bottom-md" ng-class="{'has-error':myForm.username.$error.required&&myForm.username.$dirty,'has-success':myForm.username.$valid&&myForm.username.$dirty}">
                        <input required ng-model-option="{updataOn:'blur',debounce :'500'}" type="text" class="form-control" placeholder="用户名" ng-model="user.username" name="username">
                    </div>
                    <div class="form-group" ng-class="{'has-error':myForm.password.$error.required&&myForm.password.$dirty,'has-success':myForm.password.$valid&&myForm.password.$dirty}">
                        <input required ng-model-option="{updataOn:'blur',debounce :'500'}" type="password" class="form-control" placeholder="密码" ng-model="user.password" name="password" >
                    </div>
                    <div class="m-top-md p-top-sm">
                        <button href="" ng-click="login()" class="btn btn-success block" ng-disabled="myForm.$invalid">登 录</button>
                    </div>
                    <!-- <div class="m-top-md p-top-sm">
                        <div class="font-12 text-center m-bottom-xs">
                            <a href="#" class="font-12">忘记密码 ?</a>
                        </div>
                        <div class="font-12 text-center m-bottom-xs">Do not have an account?</div>
                        <a href="signup.html" class="btn btn-default block">Create an accounts</a>
                    </div> -->
                </form>
            </div>
            <!-- ./sign-in-inner -->
        </div>
        <!-- ./sign-in-wrapper -->
    </div>
    <!-- /wrapper -->
    <a href="" id="scroll-to-top" class="hidden-print"><i class="icon-chevron-up"></i></a>

</div>
    <!-- Le javascript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Jquery -->
    <!-- <script src="../lib/js/jquery-1.11.1.min.js"></script> -->
<!-- Bootstrap -->
<!-- <script src="../lib/bower_components/bootstrap/js/bootstrap.min.js"></script> -->
<!-- Slimscroll -->
<!-- <script src='../lib/js/jquery.slimscroll.min.js'></script> -->
<!-- Popup Overlay -->
<!-- <script src='../lib/js/jquery.popupoverlay.min.js'></script> -->
<!-- Modernizr -->
<!-- <script src='../lib/js/modernizr.min.js'></script> -->
<!-- Simplify -->
<!-- <script src="../lib/js/simplify.js"></script> -->