<div>
	<h3 class=" m-left-xs header-text">公开通报</h3>
	<div class="col-sm-4 col-md-4 ">
		<div class="input-group">
			<input type="text" class="form-control" ng-model="listObj.staff">
			<div class="input-group-btn">
				<button ng-click="search()" type="button" class="btn btn-success no-shadow">查询</button>
			</div>
			<!-- /input-group-btn -->
		</div>
		<!-- /input-group -->
	</div>
	<div class="col-sm-8 col-md-8 ">
		<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addModal">添加</button>
	</div>
	<table class="table table-striped table-responsive table-hover" id="dataTable">
		<thead>
			<tr ng-init="isrotatestaff=true;isrotatestaffOrgName=true;isrotatetitle=true;isrotatecreateTime=true">
				<th ng-click="orderFun()" class="col-md-2">被通报人<span class="caret" style="transform:rotate({{isrotatestaff?0:180}}deg)"></span></th>
				<th ng-click="orderFun()" class="col-md-2">被通报人部门<span class="caret" style="transform:rotate({{isrotatestaffOrgName?0:180}}deg)"></span></th>
				<th ng-click="orderFun()" class="col-md-2">标题<span class="caret" style="transform:rotate({{isrotatetitle?0:180}}deg)"></span></th>
				<th ng-click="orderFun()" class="col-md-2">时间<span class="caret" style="transform:rotate({{isrotatecreateTime?0:180}}deg)"></span></th>
				<th class="col-md-2">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-init="reverse=true" ng-repeat="(key, value) in array.result |orderBy:exp:reverse" ng-dblclick="get()">
				<td>{{value.staff}}</td>
				<td>{{value.staffOrgName}}</td>
				<td>{{value.title}}</td>
				<td>{{value.createTime}}</td>
				<td>
					<button ng-click="edit()" type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal">修改</button>
					<button ng-click="del()" type="button" class="btn btn-danger" data-toggle="modal" data-target="#delModal">删除</button>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- /table -->
	<!-- pagination -->
	<div class="col-md-12">
		<ul class="pagination col-md-9 col-sm-9">
			<li ng-click="listObj.page=1"><a href="">«</a></li>
			<li ng-click="prePage()">
				<a href="">
					<</a>
			</li>
			<li>
				<input style="display: inline-block;width: 65px;height: 32px;float: left;" min="1" max="{{array.total/listObj.limit+1}}" type="number" class="form-control" ng-model="listObj.page" value="listObj.page">
			</li>
			<li ng-click="nextPage()"><a href="">></a></li>
			<li ng-click="lastPage()"><a href="">»</a></li>
			<li>
				<button type="button" ng-click="refresh()" class="btn btn-sm btn-success"><i class="fa fa-refresh" aria-hidden="true"></i></button>
			</li>
		</ul>
		<ul class="pagination col-md-3 col-sm-3">
			<li><a>显示{{listObj.page < 2 ? 1:(listObj.limit*(listObj.page-1))}}-{{(listObj.limit*(listObj.page-1)+listObj.limit)}}条,共{{array.total}}条</a></li>
		</ul>
	</div>
	<!-- /pagination -->
	<!-- 新增通报 modal -->
	<div class="modal fade" id="addModal" aria-hidden="true" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">添加</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" name="addForm" novalidate="novalidate">
						<div class="form-group" ng-class="{'has-error':addForm.title.$error.required&&addForm.$submitted,'has-success':addForm.title.$valid&&addForm.$submitted}">
							<label for="inputTitle" class="col-lg-2 control-label">标题:</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" placeholder="标题不能为空" ng-model="addObj.title" name="title" required>
							</div>
							<!-- /.col -->
						</div>
						<div class="form-group" ng-class="{'has-error':addForm.people.$error.required&&addForm.$submitted,'has-success':addForm.people.$valid&&addForm.$submitted}">
							<label for="inputTitle" class="col-lg-2 control-label">人员:</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" placeholder="人员不能为空" ng-model="addObj.staff" name="people" required>
							</div>
							<!-- /.col -->
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">根组织:</label>
							<div class="col-lg-10">
								<select class="form-control">
									<option>根组织</option>
								</select>
							</div>
							<!-- /.col -->
						</div>
						<div class="form-group" ng-class="{'has-error':addForm.content.$error.required&&addForm.$submitted,'has-success':addForm.content.$valid&&addForm.$submitted}">
							<label class="col-lg-2 control-label">内容:</label>
							<div class="col-lg-10">
								<textarea class="form-control" rows="3" ng-model="addObj.content" name="content" required placeholder="内容不能为空"></textarea>
							</div>
							<!-- /.col -->
						</div>
						<!-- /form-group -->
						<button type="submit" class="btn btn-primary col-md-12" ng-click="add()">确定</button>
					</form>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> -->
				</div>
			</div>
		</div>
	</div>
	<!-- /modal -->
	<!-- 修改通报 modal -->
	<div class="modal fade" id="editModal" aria-hidden="true" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">修改通报</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" name="myForm" novalidate="novalidate">
						<div class="form-group" ng-class="{'has-error':myForm.title.$error.required&&myForm.$submitted,'has-success':myForm.title.$valid&&myForm.$submitted}">
							<label for="inputTitle" class="col-lg-2 control-label">标题:</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" placeholder="标题不能为空" ng-model="editObj.title" name="title" required>
							</div>
							<!-- /.col -->
						</div>
						<div class="form-group" ng-class="{'has-error':myForm.people.$error.required&&myForm.$submitted,'has-success':myForm.people.$valid&&myForm.$submitted}">
							<label for="inputTitle" class="col-lg-2 control-label">人员:</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" placeholder="人员不能为空" ng-model="editObj.staff" name="people" required>
							</div>
							<!-- /.col -->
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">根组织:</label>
							<div class="col-lg-10">
								<select class="form-control">
									<option>根组织</option>
								</select>
							</div>
							<!-- /.col -->
						</div>
						<div class="form-group" ng-class="{'has-error':myForm.content.$error.required&&myForm.$submitted,'has-success':myForm.content.$valid&&myForm.$submitted}">
							<label class="col-lg-2 control-label">内容:</label>
							<div class="col-lg-10">
								<textarea class="form-control" placeholder="内容不能为空" rows="3" ng-model="editObj.content" name="content" required></textarea>
							</div>
						</div>
						<!-- /.col -->
						<!-- /form-group -->
						<button class="btn btn-primary col-md-12" ng-click="editConfirm()">确定</button>
					</form>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> -->
				</div>
			</div>
		</div>
	</div>
	<!-- /modal -->
	<!-- 获取详情 modal -->
	<div class="modal fade" id="getModal" aria-hidden="true" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="inputTitle" class="col-lg-2 control-label">标题:</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="inputTitle" ng-model="detailArr.title" readonly>
							</div>
							<!-- /.col -->
						</div>
						<div class="form-group">
							<label for="inputTitle" class="col-lg-2 control-label">人员:</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="inputTitle" ng-model="detailArr.staff" readonly>
							</div>
							<!-- /.col -->
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">根组织:</label>
							<div class="col-lg-10">
								<select class="form-control">
									<option>根组织</option>
								</select>
							</div>
							<!-- /.col -->
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">内容:</label>
							<div class="col-lg-10">
								<textarea ng-model="detailArr.content" readonly="readonly" class="form-control" rows="3"></textarea>
							</div>
							<!-- /.col -->
						</div>
						<!-- /form-group -->
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /modal -->
</div>
