<!--publicity公示-->
<div>
    <!--//内容-->
    <div class="inbox-wrapper">

        <div class="row m-bottom-md">
            <div class="col-sm-12 m-bottom-sm">
                <h4 class="no-margin header-text">
                    公示
                </h4>
            </div>

        </div>

        <div class="smart-widget">
            <div class="smart-widget-inner">

                <div class="smart-widget-body">
                    <form class="form-inline no-margin">
                        <div class="form-group">
                            <label class="">申报人:</label>
                            <input type="text" class="form-control" ng-model="pubList.staff">
                            <select class="form-control" ng-model="sel" ng-init="sel='未公示'" ng-change="selChange()">
                                <option>未公示</option>
                                <option>已公示</option>


                            </select>
                        </div><!-- /form-group -->

                        <button type="submit" class="btn btn-sm btn-success" ng-click="search()">查询</button>
                    </form>
                </div>

            </div><!-- ./smart-widget-inner -->
        </div>
        <!--</div>-->

        <div>
            <table class="table table-striped no-margin">


                <thead>
                <tr>
                    <th ng-repeat=" menu in menuArr" ng-click="orderToggle($index)">{{menu.name}}<span class="caret" style="transform:rotate({{menu.isrotate?0:180}}deg)"></span></th>
                </tr>
                </thead>

                <tr ng-repeat="item in list|limitTo:10:(start-1)*10 | orderBy:x+attr">
                    <td>{{item.staff}}</td>
                    <td>{{item.staffOrgName}}</td>
                    <td>{{item.eventType==1?'婚嫁':'丧葬'}}</td>
                    <td>{{item.peopleCount}}</td>
                    <td>{{item.createTime}}</td>
                    <td>{{item.eventDate}}</td>
                    <td>
                        {{bulle==1?'已公示':'未公示'}}
                        <!--{{$scope.pubList.bulletinStatus==0?'未公示':'已公示'&&$scope.pubList.bulletinStatus==-1?'未公示':'已公示'&&$scope.pubList.bulletinStatus==null?'未公示':'已公示'}}-->
                    </td>
                    <td>

                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                data-target="#myModal" ng-click="pass($index)">
                            公示内容
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span
                                                aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel"></h4>
                                    </div>
                                    <div class="modal-body">


                                        <div class="smart-widget-body">
                                            <form class="form-horizontal no-margin" id="type-constraint1" novalidate="novalidate"
                                                  data-validate="parsley" novalidate name="myForm">

                                                <div class="form-group" >
                                                    <label class="control-label col-lg-2">内容：</label>
                                                    <div class="col-lg-10" ng-class="{'has-error':myForm.content.$error.required&&myForm.$submitted,'has-success':myForm.content.$valid&&myForm.$submitted}">
                                                    <textarea type="text" class="form-control input-sm"
                                                              data-parsley-minlength="6" required name="content"
                                                              ng-model="sureList.content" placeholder="内容不能为空"></textarea>
                                                    </div><!-- /.col -->
                                                </div><!-- /form-group -->
                                                <div class="form-group" >
                                                    <label class="control-label col-lg-2">附件：</label>
                                                    <div class="col-lg-10">
                                                        <input type="file" class="form-control input-sm"
                                                               data-parsley-maxlength="6">
                                                    </div><!-- /.col -->
                                                    <div class="text-center" ng-bind="attachmentPath"></div>
                                                </div><!-- /form-group -->
                                                <div class="modal-footer">
                                                    <div class="text-right m-top-md">
                                                        <button type="submit" class="btn btn-info col-sm-12" about=""
                                                                ng-click="sure()" >确定
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                data-target="#myModal1" ng-click="refuse($index)">
                            公示结果
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span
                                                aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel1">意见</h4>
                                    </div>
                                    <div class="modal-body">

                                        <div class="smart-widget-body">
                                            <form class="form-horizontal no-margin" id="type-constraint"
                                                  name="myForm1" novalidate="novalidate"
                                                  data-validate="parsley" novalidate>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2">结果：</label>
                                                    <div class="col-lg-10">
                                                        <label><input name="Fruit" type="radio"
                                                                      ng-model="resultSureList.status" value="1"/>通过
                                                        </label>
                                                        <label><input name="Fruit" type="radio"
                                                                      ng-model="resultSureList.status" value="2"/>有异议
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2">内容：</label>
                                                    <div class="col-lg-10" ng-class="{'has-error':myForm1.content1.$error.required&&myForm1.$submitted,'has-success':myForm1.content1.$valid&&myForm1.$submitted}">
                                                <textarea type="text" class="form-control input-sm"
                                                          data-parsley-minlength="6" placeholder="内容不能为空"
                                                          ng-model="resultSureList.content" name="content1"
                                                          required></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2">附件：</label>
                                                    <div class="col-lg-10">
                                                        <input type="file" class="form-control input-sm"
                                                               data-parsley-maxlength="6">
                                                    </div>
                                                </div>

                                                <div class=" form-group modal-footer">
                                                    <button type="submit" class="btn btn-info col-sm-12" about=""
                                                            ng-click="del()">确定
                                                    </button>
                                                </div>
                                            </form>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

            </table>
        </div>

    </div><!-- ./inbox-body -->
</div><!-- ./inbox-wrapper -->
<!--页码-->
<div class="col-md-12">
    <ul class="pagination col-md-9 col-sm-9">
        <li ng-click="userList.page=1"><a href="">«</a></li>
        <li ng-click="prePage()">
            <a href="">
                <</a>
        </li>
        <li>
            <input   min="1"
                   max="{{arr.total/pubList.limit+1}}" type="number" class="form-control" ng-model="pubList.page"
                   value="userList.page">
        </li>
        <li ng-click="nextPage()"><a href="">></a></li>
        <li ng-click="lastPage()"><a href="">»</a></li>
        <li>
            <button type="button" ng-click="refresh()" class="btn btn-sm btn-success">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </li>
    </ul>
    <ul class="pagination col-md-3 col-sm-3">
        <li><a>显示{{pubList.page < 2 ? 1:(pubList.limit*(pubList.page-1))}}-{{(pubList.limit*(pubList.page-1)) +
            pubList.limit}}条,共{{arr.total}}条</a></li>
    </ul>
</div>




