<!--statistic数量统计-->

<div >
    <!--当前位置-->
    <ul class="breadcrumb">
        <li><span class="primary-font"><i class="icon-home"></i></span><a href="index.html">婚丧事宜申报</a></li>
        <li>申报管理</li>
        <li>查询统计</li>
        <li>数量统计</li>
    </ul>
    <div class="smart-widget">
        <!--查询-->
        <div class="smart-widget-inner">
            <div class="smart-widget-body">
                <form class="form-inline no-margin">
                    <div class="form-group">
                        <label >申报时间:</label>
                        <input type="text" id="createFromDatetimepicker" ng-model="CreateTimeFrom" class="form-control">
                        <label >至:</label>
                        <input type="text" id="createToDatetimepicker" ng-model="CreateTimeTo" class="form-control">
                    </div><!-- /form-group -->
                    <div class="form-group" style="margin-left: 20px">
                        <label>宴请时间:</label>
                        <input type="text" id="eventFormDatetimepicker" ng-model="TimeFrom" class="form-control">
                        <label >至:</label>
                        <input type="text" id="eventToDatetimepicker" ng-model="TimeTo" class="form-control">
                    </div><!-- /form-group -->
                    <button type="submit" class="btn btn-sm btn-success" ng-click="statisticSearch()">查询</button>
                </form>
            </div>


        </div>
        <!--柱状图-->

        <div class="smart-widget-inner" >
            <div id="chart" style="width: 80%;height: 300px"></div>
        </div>
    </div>

</div><!-- ./padding-md -->